# Cointab Data Analyst - Assignment

In [1]:
# Importing the necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Import the required excel files
order_report = pd.read_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final Assignment Data/Company X - Order Report.xlsx')

In [3]:
# Getting overview of order_report
order_report.head(10)

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0
5     2001827036  GIFTBOX202002        1.0
6     2001827036  8904223818638        2.0
7     2001827036     SACHETS001        1.0
8     2001825261  8904223819024        4.0
9     2001825261  8904223819291        4.0

In [4]:
# checking for any null values. And if any, then its sum
order_report.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [6]:
# Importing pincode zones
pincode_zones = pd.read_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final Assignment Data/Company X - Pincode Zones.xlsx')

In [7]:
# Getting overview of pincode_zones
pincode_zones.head(10)

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d
5             121003            326502    d
6             121003            208019    b
7             121003            140301    b
8             121003            396001    d
9             121003            711106    d

In [8]:
# checking for any null values. And if any, then its sum
pincode_zones.isnull().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [9]:
# Importing SKU Master
sku_master = pd.read_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final Assignment Data/Company X - SKU Master.xlsx')

In [10]:
# Getting overview of SKU Master
sku_master.head(10)

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120
5  8904223816665         102
6  8904223817273          65
7  8904223817334         170
8  8904223817501         350
9  8904223818430         165

In [11]:
# checking for any null values. And if any, then its sum
sku_master.isnull().sum()

SKU           0
Weight (g)    0
dtype: int64

In [12]:
# Importing Courier company Invoice Data
invoice_data = pd.read_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final Assignment Data/Courier Company - Invoice.xlsx')

In [13]:
# Getting overview of Invoice Data
invoice_data.head(10)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
5,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4
6,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3
7,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6
8,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4
9,1091117324206,2001807290,0.50,121003,711106,d,Forward charges,45.4

In [14]:
# checking for any null values. And if any, then its sum
invoice_data.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [16]:
# Importing Courier company Rates
rates = pd.read_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final Assignment Data/Courier Company - Rates.xlsx')

In [18]:
# Getting overview of Rates
rates.head(5)

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [19]:
# checking for any null values. And if any, then its sum
rates.isnull().sum()

Zone                                     0
Weight Slabs                             0
Forward Fixed Charge                     0
Forward Additional Weight Slab Charge    0
RTO Fixed Charge                         0
RTO Additional Weight Slab Charge        0
dtype: int64

### Since none of the excel sheets or dataframes contains any null values, we can proceed for further analysis.

In [21]:
#Let's find totel weight in (kg). Here, we will merge sku_master and order_report on the basis of SKU column and then applying group by on the basis of order number forming a new dataframe as total_weight.
total_weight = sku_master.merge(order_report,how = 'inner',on = 'SKU')
total_weight['Total Weight (Kg)'] = (total_weight['Weight (g)']*total_weight['Order Qty'])/1000
total_weight.drop_duplicates()

total_weight = total_weight.groupby('ExternOrderNo',as_index = False ).sum('Total Weight (Kg)')[['ExternOrderNo','Total Weight (Kg)']]

In [26]:
# Getting overview of total weights
total_weight.head(10)

   ExternOrderNo  Total Weight (Kg)
0     2001806210              0.220
1     2001806226              0.480
2     2001806229              0.500
3     2001806232              1.302
4     2001806233              0.245
5     2001806251              0.245
6     2001806273              0.615
7     2001806304              0.500
8     2001806338              0.500
9     2001806408              2.265

In [27]:
# Merging total_weight with invoice_data on Extern Order No from total_weight and Order ID from invoice_data to compare the weights in both the courier invoice and as per company.
temp_invoice = invoice_data.merge(total_weight,how = 'inner',left_on = 'Order ID',right_on = 'ExternOrderNo')

In [28]:
# Checking contents of temp_invoice
temp_invoice.head(10)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,Total Weight (Kg)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,1.302
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,2001806273,0.615
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2001806408,2.265
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,2001806458,0.700
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,2001807012,0.240
5,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4,2001806686,0.240
6,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3,2001806885,0.840
7,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,2001807058,1.168
8,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4,2001807186,0.500
9,1091117324206,2001807290,0.50,121003,711106,d,Forward charges,45.4,2001807290,0.500

In [34]:
# Now, we will concatenate temp_invoice with pincode_zones by company to compare the zones if they are applied correctly and renaming the zones column in the pincode_zones dataframe as 'Zone by company' to distinguish.
final= pd.concat([temp_invoice,pincode_zones],axis = 1)
final.columns.values[12] = 'Zone_by_company'

In [36]:
# Checking contents of final dataframe
final

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,Total Weight (Kg),Warehouse Pincode,Customer Pincode,Zone_by_company
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,1.302,121003,507101,d
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,2001806273,0.615,121003,486886,d
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2001806408,2.265,121003,532484,d
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,2001806458,0.700,121003,143001,b
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,2001807012,0.240,121003,515591,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,2001812941,0.500,121003,325207,b
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,2001809383,0.607,121003,303702,b
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,2001820978,0.515,121003,313301,b
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,2001811475,0.689,121003,173212,e
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,2001811305,0.750,121003,302020,b

In [37]:
# Let's define a ceiling value to calculate and round off the shipping charges both by company and the courier service provider
np.ceil(0.515/0.5)*0.5/0.5-1

1.0

In [38]:
# Calculating weight slab as per courier company in a new column weight_slab
def slab_calculate():
  slab = []
  for i in final.index:
    d = final.iloc[i]
    if d['Zone'] == 'd':
     slab.append(np.ceil(d['Charged Weight']/1.25)*1.25)
    elif d['Zone'] == 'a':
      slab.append(np.ceil(d['Charged Weight']/.25)*.25)
    elif d['Zone'] == 'b':
      slab.append(np.ceil(d['Charged Weight']/.50)*.50)
    elif d['Zone'] == 'c':
      slab.append(np.ceil(d['Charged Weight']/.75)*.75)
    elif d['Zone'] == 'e':
      slab.append(np.ceil(d['Charged Weight']/1.00)*1.00)
  return slab


final.insert(loc = 3,
          column = 'weight_slab',
          value = slab_calculate())

In [42]:
# Calculating weight slab as per company X in a new column weight_slab_by_X
def slab_calculater_X():
  slab = []
  for i in final.index:
    d = final.iloc[i]
    if d['Zone_by_company'] == 'd':
      slab.append(np.ceil(d['Total Weight (Kg)']/1.25)*1.25)
    elif d['Zone_by_company'] == 'a':
      slab.append(np.ceil(d['Total Weight (Kg)']/.25)*.25)
    elif d['Zone_by_company'] == 'b':
      slab.append(np.ceil(d['Total Weight (Kg)']/.50)*.50)
    elif d['Zone_by_company'] == 'c':
      slab.append(np.ceil(d['Total Weight (Kg)']/.75)*.75)
    elif d['Zone_by_company'] == 'e':
      slab.append(np.ceil(d['Total Weight (Kg)']/1.00)*1.00)
  return slab

final.insert(loc = 10,
          column = 'weight_slab_by_X',
          value = slab_calculater_X())

In [43]:
# Checking above two newly added columns in final dataframe
final

,AWB Code,Order ID,Charged Weight,weight_slab,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,weight_slab_by_X,Total Weight (Kg),Warehouse Pincode,Customer Pincode,Zone_by_company
0,1091117222124,2001806232,1.30,2.50,121003,507101,d,Forward charges,135.0,2001806232,2.50,1.302,121003,507101,d
1,1091117222194,2001806273,1.00,1.25,121003,486886,d,Forward charges,90.2,2001806273,1.25,0.615,121003,486886,d
2,1091117222931,2001806408,2.50,2.50,121003,532484,d,Forward charges,224.6,2001806408,2.50,2.265,121003,532484,d
3,1091117223244,2001806458,1.00,1.00,121003,143001,b,Forward charges,61.3,2001806458,1.00,0.700,121003,143001,b
4,1091117229345,2001807012,0.15,1.25,121003,515591,d,Forward charges,45.4,2001807012,1.25,0.240,121003,515591,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,1.25,121003,325207,d,Forward charges,90.2,2001812941,0.50,0.500,121003,325207,b
120,1091117614452,2001809383,0.50,1.25,121003,303702,d,Forward and RTO charges,86.7,2001809383,1.00,0.607,121003,303702,b
121,1091120922803,2001820978,0.50,1.25,121003,313301,d,Forward charges,45.4,2001820978,1.00,0.515,121003,313301,b
122,1091121844806,2001811475,0.50,0.50,121003,173212,b,Forward charges,33.0,2001811475,1.00,0.689,121003,173212,e
123,1091121846136,2001811305,0.50,1.25,121003,302020,d,Forward charges,45.4,2001811305,1.00,0.750,121003,302020,b

In [56]:
# Calaulating the total delivery charges as per the slab by company X and adding a new column charges_as_per_X. Since only forward and forward & RTO charges have been made, we will include both these charges only.
def charges():
    charge = []
    for i in final.index:
        d =  final.iloc[i]
        if d['Zone_by_company'] =='a':
            if d['Type of Shipment'] == 'Forward charges':
                fixed_charge = 29.5
                additional_charge = 23.6*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
            elif d['Type of Shipment'] == 'Forward and RTO charges':
                fixed_charge = 29.5+13.6
                additional_charge = 2*23.6*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
        elif d['Zone_by_company'] =='b':
            if d['Type of Shipment'] == 'Forward charges':
                fixed_charge = 33
                additional_charge = 28.3*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
            elif d['Type of Shipment'] == 'Forward and RTO charges':
                fixed_charge = 33+20.5
                additional_charge = 2*28.3*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
        elif d['Zone_by_company'] =='c':
            if d['Type of Shipment'] == 'Forward charges':
                fixed_charge = 40.1
                additional_charge = 38.9*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
            elif d['Type of Shipment'] == 'Forward and RTO charges':
                fixed_charge = 40.1+31.9
                additional_charge = 2*38.9*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
        elif d['Zone_by_company'] =='d':
            if d['Type of Shipment'] == 'Forward charges':
                fixed_charge = 45.4
                additional_charge = 44.8*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
            elif d['Type of Shipment'] == 'Forward and RTO charges':
                fixed_charge = 45.4+41.3
                additional_charge = 2*44.8*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
        elif d['Zone_by_company'] =='e':
            if d['Type of Shipment'] == 'Forward charges':
                fixed_charge = 56.6
                additional_charge = 55.5*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
            elif d['Type of Shipment'] == 'Forward and RTO charges':
                fixed_charge = 56.6+50.7
                additional_charge = 2*55.5*(d['weight_slab_by_X']/1.25-1)
                total_charge = fixed_charge+additional_charge
                charge.append(total_charge)
    return charge
    

final.insert(loc = 15,
          column = 'charges_as_per_X',
          value = charges())

In [58]:
# checking final dataframe before calculating thr difference between the shipping charges for company X and courier companies.
final

,AWB Code,Order ID,Charged Weight,weight_slab,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,weight_slab_by_X,Total Weight (Kg),Warehouse Pincode,Customer Pincode,Zone_by_company,charges_as_per_X
0,1091117222124,2001806232,1.30,2.50,121003,507101,d,Forward charges,135.0,2001806232,2.50,1.302,121003,507101,d,90.20
1,1091117222194,2001806273,1.00,1.25,121003,486886,d,Forward charges,90.2,2001806273,1.25,0.615,121003,486886,d,45.40
2,1091117222931,2001806408,2.50,2.50,121003,532484,d,Forward charges,224.6,2001806408,2.50,2.265,121003,532484,d,90.20
3,1091117223244,2001806458,1.00,1.00,121003,143001,b,Forward charges,61.3,2001806458,1.00,0.700,121003,143001,b,27.34
4,1091117229345,2001807012,0.15,1.25,121003,515591,d,Forward charges,45.4,2001807012,1.25,0.240,121003,515591,d,45.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,1.25,121003,325207,d,Forward charges,90.2,2001812941,0.50,0.500,121003,325207,b,16.02
120,1091117614452,2001809383,0.50,1.25,121003,303702,d,Forward and RTO charges,86.7,2001809383,1.00,0.607,121003,303702,b,42.18
121,1091120922803,2001820978,0.50,1.25,121003,313301,d,Forward charges,45.4,2001820978,1.00,0.515,121003,313301,b,27.34
122,1091121844806,2001811475,0.50,0.50,121003,173212,b,Forward charges,33.0,2001811475,1.00,0.689,121003,173212,e,45.50
123,1091121846136,2001811305,0.50,1.25,121003,302020,d,Forward charges,45.4,2001811305,1.00,0.750,121003,302020,b,27.34

In [61]:
# Now, we will calculate the difference between the shipping charges for company X and courier companies in a new column named as 'difference_b/w_charges'.
final['difference_b/w_charges'] =round((final['charges_as_per_X'] -final['Billing Amount (Rs.)']) ,2)

In [62]:
# The final dataframe indicating difference between the shipping charges for company X and courier companies.
# Here negative value means the courier company have been paid more than the actual charges, 0 means no extra charges and positive means the courier company is underpaid. 
final

,AWB Code,Order ID,Charged Weight,weight_slab,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,weight_slab_by_X,Total Weight (Kg),Warehouse Pincode,Customer Pincode,Zone_by_company,charges_as_per_X,difference_b/w_charges
0,1091117222124,2001806232,1.30,2.50,121003,507101,d,Forward charges,135.0,2001806232,2.50,1.302,121003,507101,d,90.20,-44.80
1,1091117222194,2001806273,1.00,1.25,121003,486886,d,Forward charges,90.2,2001806273,1.25,0.615,121003,486886,d,45.40,-44.80
2,1091117222931,2001806408,2.50,2.50,121003,532484,d,Forward charges,224.6,2001806408,2.50,2.265,121003,532484,d,90.20,-134.40
3,1091117223244,2001806458,1.00,1.00,121003,143001,b,Forward charges,61.3,2001806458,1.00,0.700,121003,143001,b,27.34,-33.96
4,1091117229345,2001807012,0.15,1.25,121003,515591,d,Forward charges,45.4,2001807012,1.25,0.240,121003,515591,d,45.40,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,1.25,121003,325207,d,Forward charges,90.2,2001812941,0.50,0.500,121003,325207,b,16.02,-74.18
120,1091117614452,2001809383,0.50,1.25,121003,303702,d,Forward and RTO charges,86.7,2001809383,1.00,0.607,121003,303702,b,42.18,-44.52
121,1091120922803,2001820978,0.50,1.25,121003,313301,d,Forward charges,45.4,2001820978,1.00,0.515,121003,313301,b,27.34,-18.06
122,1091121844806,2001811475,0.50,0.50,121003,173212,b,Forward charges,33.0,2001811475,1.00,0.689,121003,173212,e,45.50,12.50
123,1091121846136,2001811305,0.50,1.25,121003,302020,d,Forward charges,45.4,2001811305,1.00,0.750,121003,302020,b,27.34,-18.06

In [80]:
# Extracting desired columns from final dataframe.
Output_Data_1 = final[['Order ID','AWB Code','Total Weight (Kg)','weight_slab_by_X','Charged Weight','weight_slab','Zone_by_company','Zone','charges_as_per_X','Billing Amount (Rs.)','difference_b/w_charges']]

In [81]:
Output_Data_1

,Order ID,AWB Code,Total Weight (Kg),weight_slab_by_X,Charged Weight,weight_slab,Zone_by_company,Zone,charges_as_per_X,Billing Amount (Rs.),difference_b/w_charges
0,2001806232,1091117222124,1.302,2.50,1.30,2.50,d,d,90.20,135.0,-44.80
1,2001806273,1091117222194,0.615,1.25,1.00,1.25,d,d,45.40,90.2,-44.80
2,2001806408,1091117222931,2.265,2.50,2.50,2.50,d,d,90.20,224.6,-134.40
3,2001806458,1091117223244,0.700,1.00,1.00,1.00,b,b,27.34,61.3,-33.96
4,2001807012,1091117229345,0.240,1.25,0.15,1.25,d,d,45.40,45.4,0.00
...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.50,0.73,1.25,b,d,16.02,90.2,-74.18
120,2001809383,1091117614452,0.607,1.00,0.50,1.25,b,d,42.18,86.7,-44.52
121,2001820978,1091120922803,0.515,1.00,0.50,1.25,b,d,27.34,45.4,-18.06
122,2001811475,1091121844806,0.689,1.00,0.50,0.50,e,b,45.50,33.0,12.50
123,2001811305,1091121846136,0.750,1.00,0.50,1.25,b,d,27.34,45.4,-18.06

In [82]:
# Renaming some columns as per desired output.
Output_Data_1 = Output_Data_1.rename(columns = {'AWB Code':'AWB Number', 'Total Weight (Kg)':'Total weight as per X (KG)', 'weight_slab_by_X':'Weight slab as per X (KG)', 'Charged Weight':'Total weight as per Courier Company (KG)', 'weight_slab':'Weight slab charged by Courier Company (KG)', 'Zone_by_company':'Delivery Zone as per X', 'Zone':'Delivery Zone charged by Courier Company', 'charges_as_per_X':'Expected Charge as per X (Rs.)', 'Billing Amount (Rs.)':'Charges Billed by Courier Company (Rs.)', 'difference_b/w_charges':'Difference Between Expected Charges and Billed Charges (Rs.)'})

# Output Data 1

In [84]:
# final output after renaming all the columns.
Output_Data_1

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.302,2.50,1.30,2.50,d,d,90.20,135.0,-44.80
1,2001806273,1091117222194,0.615,1.25,1.00,1.25,d,d,45.40,90.2,-44.80
2,2001806408,1091117222931,2.265,2.50,2.50,2.50,d,d,90.20,224.6,-134.40
3,2001806458,1091117223244,0.700,1.00,1.00,1.00,b,b,27.34,61.3,-33.96
4,2001807012,1091117229345,0.240,1.25,0.15,1.25,d,d,45.40,45.4,0.00
...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.50,0.73,1.25,b,d,16.02,90.2,-74.18
120,2001809383,1091117614452,0.607,1.00,0.50,1.25,b,d,42.18,86.7,-44.52
121,2001820978,1091120922803,0.515,1.00,0.50,1.25,b,d,27.34,45.4,-18.06
122,2001811475,1091121844806,0.689,1.00,0.50,0.50,e,b,45.50,33.0,12.50
123,2001811305,1091121846136,0.750,1.00,0.50,1.25,b,d,27.34,45.4,-18.06

In [86]:
# Exporting the Output_Data_1 dataframe as an excel file on our local system.
Output_Data_1.to_excel('D:/SHIVAM/Imarticus-PGA/Self-Study (Extra)/CoinTab- DATA ANALYST/Final/Output Data 1.xlsx', index=False)

In [106]:
# Calculating the count of correctly, over and under charged shipping charges for company X.
correctly_charge = []
overcharged = []
undercharged =  []
for i in final.index:
  d = final.iloc[i]
  if d['difference_b/w_charges'] == 0:
    correctly_charge.append(d['charges_as_per_X'])
  elif d['difference_b/w_charges'] <0:
    overcharged.append(d['difference_b/w_charges'])
  elif d['difference_b/w_charges'] >0:
    undercharged.append(d['difference_b/w_charges'])

# Output Data 2

In [108]:
# Summarizing the above results as output data 2
print(f"Total orders where X has been correctly charged are {len(correctly_charge)} and the correctly charged amount is {round(sum(correctly_charge),2)}")
print(f"Total Orders where X has been overcharged are {len(overcharged)} and the overcharged amount is {round(sum(overcharged),2)}")
print(f"Total Orders where X has been undercharged are {len(undercharged)} and the undercharged amount is {round(sum(undercharged),2)}")

Total orders where X has been correctly charged are 5 and the correctly charged amount is 227.0
Total Orders where X has been overcharged are 116 and the overcharged amount is -8770.6
Total Orders where X has been undercharged are 3 and the undercharged amount is 41.4